<div class="modify-appointments-container">
  <app-sidebar-menu></app-sidebar-menu>

  <main class="main-content">
    <h2>Modificar Citas</h2>
    <button (click)="nuevaCita()" class="nueva-cita-button">Nueva Cita</button>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Paciente</th>
          <th>Motivo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of appointments">
          <td>{{ cita.fecha }}</td>
          <td>{{ cita.hora }}</td>
          <td>{{ cita.paciente }}</td>
          <td>{{ cita.motivo }}</td>
          <td>
            <button (click)="editarCita(cita)" class="editar-button">Editar</button>
            <button (click)="eliminarCita(cita)" class="eliminar-button">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>